{% extends "blog/base.html" %}
{%block content%}
<div class="container">


    <div class="card mb-5 shadow-sm">
      <!-- <img src="imgs/a.jpg" class="img-fluid" />  -->
      <div class="card-body">
        <div class="card-title">
          <h2>{{object.title}}</h2>
        </div>
        <div class="card-subtitle text-muted" style = "display: inline;">
           <img src="{{ object.author.profile.image.url }}" class="rounded-circle" style = "float:left; height:1em;"> 
           <h6>  {{ object.author }} on {{object.date_posted|date:"F d ,Y"}} </h6>
        </div>  
        <div class="card-text">
          <p>                       
              {{object.content}}      
          </p>
        </div>
      </div>
      {% if object.author == user %}
      <a class ="btn btn-secondary bnt-sm mt-1 mb-1" href="{% url 'post-update' post.id %}" class="btn btn-outline-primary rounded-0 float-end"
        >Update</a
      >
      <a class="btn btn-danger bnt-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}" class="btn btn-outline-primary rounded-0 float-end"
      >Delete</a
    >
      {% endif %}
    </div>


    </div>
  </div>
           
{%endblock content%}
