{% extends "blog/base.html" %}
{%block content%}
<h1 class = "mb-3">Posts bt {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
<div class="row">
  {% for post in posts %}
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card mb-5 shadow-sm">
     <!-- <img src="imgs/a.jpg" class="img-fluid" />  -->

      <div class="card-body">
        <div class="card-title">
          <h2>{{post.title}}</h2>
        </div>
        <div class="card-subtitle text-muted" style = "display: inline;">
           <img src="{{ post.author.profile.image.url }}" class="rounded-circle" style = "float:left; height:1em;"> 
           <h6>  {{ post.author}} on {{post.date_posted|date:"F d ,Y"}} </h6>
        </div>  
        <div class="card-text">
          <p>                       
              {{post.content}}      
          </p>
        </div>
        <a href="{% url 'post-detail' post.id %}" class="btn btn-outline-primary rounded-0 float-end"
          >Read More</a
        >
      </div>
    </div>
  </div>
{% endfor %}   
</div>         
{% if is_paginated %}
  {% if page_obj.has_previous %}
      <a  class= "btn btn-outline-info mb4" href="?page=1">First</a>
      <a  class= "btn btn-outline-info mb4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num%}
      <a  class= "btn btn-info mb4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a  class= "btn btn-outline-info mb4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor%}



  {% if page_obj.has_next %}
  <a  class= "btn btn-outline-info mb4" href="?page={{ page_obj.next_age_number }}">Next</a>
  <a  class= "btn btn-outline-info mb4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
{% endif %}
{%endblock content%}